body{
 background-image:url('images/site_background.jpg');
 background-position:center center;
 background-repeat:no-repeat;
 background-attachment:fixed;
}

html, body, ul, li, a, p, article, figure, img, div, section{
  margin: 0;
  padding: 0;
  list-decoration: none;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

header{
  margin:0 auto;
  width: 80%;
  background: #005C99;
  padding: 0;
  height: 148px;
  margin-top: 64px;
  margin-bottom: 44px;
  box-shadow: 0px 4px 10px -3px #cecece inset
}



ul.nav{
  position:absolute;
  margin-left: 0px;
  height: 148px;
}

.nav li{
  display: inline-block;
  color: white;
  margin-right: -4.2px;
  width: 25%;
  max-width: 330px;
  height: 100%;
  transition: background 0.7s;
}

.nav li:hover{
  background: #0099ff;
}

.active{
  background: #0099ff;
}
#active{
  color: #ffffff;
}

.nav li a{
  display: inline-block;
  padding: 65px 0;
  width: 100%;
  text-align: center;
  color: #B2B2B2;
  text-transform: uppercase;
  font-weight: light;
  letter-spacing: 0.2em;
  font-size: 24px;
}

.nav li a:hover{
  color: #005C99;
}

.nav li.active{
  box-shadow: 0 -5px 0 0 #0099ff inset
}

.wrap{
  width: 80%;
  margin: 0 auto;
}
.main-col{
  position:absolute;
  margin-top:-44px;
  float:right;
  height:500px;
  width:80%;
  background-color:#0099ff;
}
/*------------------------FORM------------------*/
.clear {height:0px; clear:both;}

.form-wrapper {
  margin-top:20px;
  margin-left:200px;
  position:absolute;
  float:left;
  width:70%;
  max-width:75.000em;
  background:#FFFFFF;
  overflow:hidden;
}
.form-wrapper label, .form-wrapper .radio-check-label {
  width:100%;
  float:right;
  margin-bottom:1em;
}
.form-wrapper label span, .form-wrapper .notes, .form-wrapper .radio-check-label span.label {
  float:left;
  width: 25%;
  text-align:right;
}
div.input-wrapper {
  width:70%;
  float:right;
  padding:0 0.625em;
}
.form-wrapper input, .form-wrapper select, .form-wrapper textarea, form-wrapper .radio {
  width:100%;
  padding:0.625em 0;
}
.form-wrapper .text input, .form-wrapper textarea {
  width:98%;
  padding-left: 1%; /* % will not work in FF*/
  padding-right: 1%; /* % will not work in FF*/
}

.form-wrapper .radio, .form-wrapper .checkbox {
  position:relative;
}
.form-wrapper .radio span, .form-wrapper .checkbox span {
  width :90%;
  text-align:left;
  padding-left:1.5em;
}
.form-wrapper .radio input, .form-wrapper .checkbox input {
  position:absolute;
  left:0;
  top:0;
  width:1em;
  height:1em;
}

input[type=reset], input[type=submit] {
  width:auto;
  max-width:34%;
  float:right;
}
input[type=submit] {
  margin-left:2%
}

/* Dark Theme -----------------    */

.form-wrapper.dark {
  background:#0099ff;
  font-family:'PT Sans', Arial, sans-serif;
  font-weight:normal;
  font-size:1em;
  line-height:1em;
  color:#C3C2C1;
  padding:0.2em 0;
}
/* TEXT & TEXTAREA */
.dark label.text input, .dark label.text textarea {
  background:#000;
  background:rgba(0,0,0,0.16);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
  border: 0 none;
  border-radius: 3px;
  color: #BBBBBB;
  transition:background .2s;
}
/* DROPDOWN & MULTIPLE*/
.dark label.dropdown select, .dark label.multiple select {
  background:#000;
  background:rgba(0,0,0,0.16);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
  color: #BBBBBB;
  border: 0 none;
  border-radius:3px;
  transition:background .2s;
}
.dark label.multiple select {
  padding-bottom:0.1em;
}
.dark label.dropdown select option, .dark label.multiple select option  {
  margin-bottom:0.2em 1%;
  cursor:pointer;
  transition:all .2s;
}

/* RADIO & CHECKBOX */
.dark .radio-check-label label {
  background:#000;
  background:rgba(0,0,0,0.16);
  box-shadow:0 1px rgba(255, 255, 255, 0.06);
  display:block;
  border: 0 none;
  border-radius: 3px;
  line-height:1em;
  cursor:pointer;
  overflow:hidden;
  margin-bottom:0.2em;
    
}
.dark .radio-check-label label input {
  opacity:0.01;
}
.dark .radio-check-label label span {
  display:block;
  padding: 0.2em 7% 0.2em 1.875em;
  transition:all .2s;
  border-radius:3px;
}
.dark .radio-check-label label span:before {
  content: "";
  display:block;
  width:12px;
  height:12px;
  background:#000;
  background:rgba(0,0,0,0.2);
  position:absolute;
  left:8px;
  top:5px;
  border:none;
}
.dark .radio-check-label label.radio span:before {
  border-radius:8px;
}
.dark .radio-check-label label.checkbox span:before {
  border-radius:2px;
}
.dark .radio-check-label input:checked ~ span:before {
  background:#FFF;
  border-width:0px;

}
.dark .radio-check-label input:checked ~ span { 
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
  background:#000;
  background:rgba(0,0,0,0.1);
  color:#FFF;
  
}
/* SUBMIT & RESET */
.dark input[name=submit], .dark input[name=reset] {
  margin-right:0.563em;
  margin-top:1m;
  font-size:1em;
  border: 0 none;
  background:#000;
  background:rgba(0,0,0,0.2);
  color: #BBBBBB;
  border-radius: 3px;
  padding: 0.4em 4em;
  cursor:pointer;
  box-shadow: 0 1px rgba(255, 255, 255, 0.06);
  transition:background 0.2s
}
.dark input[name=submit] {
  padding:0.4em 6em;
}
.dark input[name=submit]:hover, .dark input[name=reset]:hover {
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
  color:#FFF;
}
.dark input[name="reset"]:hover {
  background:rgba(255,0,0,0.3);
}
.dark input[name="submit"]:hover {
  background:rgba(0,255,0,0.3);
}

/* FOCUS */
.dark label.text input:focus, .dark label.text textarea:focus {
  background:#000;
  background:rgba(0,0,0,0.25);
  color:#FFF;
}
/* Dark Theme END ----------------- */

/* Options */
#options {
  margin:0 0 2em 0;
}
/*-------------------------END------------------*/
.left-coltwo{
  height:10px;
  width:12%;
  position:absolute;
  margin-left:2%;
  float:left;
  margin-top:165px;
  border:solid #0166cc;
   transition:width 2s;
  -webkit-transition:width 2s;
  transition:height 3s;
  -webkit-transition:height 3s;
  border-width: 0 0 3px;
}
.left-coltwo:hover{
  border:solid #ffffff;
  height:78.8px;
  transition:width 3s;
   -webkit-transition:width 3s;
  width:17%;
  border-width:0 0 0.1em;
}
.left-col{
  height:20px;
  width:10%;
  position:absolute;
  float:left;
  margin-top:1%;
  border:solid #ffffff;
  transition:width 2s;
  -webkit-transition:width 2s;
  border-width: 0 ;
}
.left-col:hover{
  
  border:solid #ffffff;
  width:25%;
  border-width:0 0 3px;
}
h2{
  margin-top:30px;
  color:white;
  font-size:17px;
  text-align:center;
  font-weight: normal;
}
h3{
  margin-left:1%;
  margin-top:90px;
  position:absolute;
  color:#cecece;
  font-size:12px;
  text-align:left;
}
h4{
  font-size:12px;text-align:left;color:#cecece;position:absolute;}
h3:hover{color:white;}

h4:hover{color:white;}

/*-----------------CV------------------*/
.header {
	height:59px;
	position: relative;
  text-align: center;
  font-size:40px;
	color: #ffffff;
  padding-top: 10px;
}
#menu {
  margin-left:5%;
  -webkit-backface-visibility: hidden;
  position:absolute;
	width: 100px;
	background: #efefef;
	margin-top: 200px;
	box-shadow: 0 10px 0 -3px rgba(0,0,0,.2),0 2px 0 rgba(0,0,0,.1);
				-webkit-transform: scale(.8);
			-moz-transform: scale(.8);
			-ms-transform: scale(.8);
			-o-transform: scale(.8);
			transform: scale(.8);
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;

}		

		 #menu:hover {    position:absolute;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
		}

.share {
  
		padding: 13px;
		background: #0166cc;
		border-bottom: 5px solid #e6e6e6;	
	}
.share:hover {border-bottom: 5px solid #0166cc;
		box-shadow:inset 0 -2px 0 rgba(255, 255, 255, .2),
		inset 0 1px 0 rgba(255, 255, 255, .2)
		;}
/*---------------------end----------------*/


#footer{
  position:absolute;
  margin-left:0%;
  margin-top:445px;
  height:60px;
  width:80%;
  background-color:#005C99;
}


#cr{
  position:relative;
  color:#ffffff;
  opacity:0.6;
  text-align:center;
  margin-top:1.5%;
}

ul.contact{
  float:right;
  position:absolute;
  width: 100%;
  margin: 0;
  overflow: hidden;
  height: 250px;
}
ul.contacttwo{
  margin-top:245px;
  float:left;
  width: 100%;
  margin: 0;
  height: 245px;
}
.contact li{ 
  float:right;
  position:relative;
  display: inline-block;
  border-bottom-right-radius: 15px;
  width: 5%;
  margin-right: 0px;
  margin-bottom: -1%;
  background: #005c99;
  height: 250px;
  transition: background 0.6s;
}
.contacttwo li{ 
  margin-top:250px;
  float:left;
  position:absolute;
  display: inline-block;
  border-top-left-radius: 15px;
  width: 5%;
  background: #005c99;
  height: 245px;
  transition: background 0.6s;
}
.contact li a{
  float:right;
  position:relative;
  display: block;
  height: 100%;
  width: 112.5%;
  text-align: center;
  background: url('images/facebook.png') no-repeat center center;
}
.contacttwo li a{
  float:left;
   position:relative;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  background: url('images/twitter.png') no-repeat center center;
}
.contact li:hover{
  background: #0099ff;
}
.contacttwo li:hover{
  background: #0099ff;
}